.TagField {
    display: inline-block;
}

.TagField > .Tag.Button:hover, .TagField > .Tag.Button > *:hover {
    cursor: auto;
}

.TagField > .Tag > input {
    background-color: transparent;
    border: 0;
    width: 100px;
}

.TagList .Button.grey-outline {
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px solid grey;
}