.Button {
    display: inline-block;
    font-size: large;
    padding: 0.25em 1em 0.25em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.Button:hover, .Button > *:hover {
    cursor: pointer;
}

.Button.red {
    color: white;
    background-color: red;
}

.Button.orange {
    color: white;
    background-color: orange;
}

.Button.green {
    color: white;
    background-color: green;
}

.Button.blue {
    color: white;
    background-color: blue;
}

.Button.violet {
    color: white;
    background-color: indigo;
}

.Button.black {
    color: white;
    background-color: black;
}