.Button {
    color: black;
    background-color: white;
    display: inline-block;
    font-size: large;
    padding: 0.25em 1em 0.25em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.Button:hover, .Button > *:hover {
    cursor: pointer;
}

.Button.active {
    border-color: white;
    background-color: black;
    color: white;
}

.Button.red {
    border-color: red;
    color: red;
    background-color: white;
}

.Button.red.active {
    border-color: red;
    color: white;
    background-color: red;
}

.Button.orange {
    color: orange;
    background-color: white;
    border-color: orange;
}

.Button.orange.active {
    color: white;
    background-color: orange;
    border-color: orange;
}

.Button.green {
    color: green;
    background-color: white;
    border-color: green;
}

.Button.green.active {
    color: white;
    background-color: green;
    border-color: green;
}

.Button.blue {
    color: blue;
    background-color: white;
    border-color: blue;
}

.Button.blue.active {
    color: white;
    background-color: blue;
    border-color: blue;
}

.Button.violet {
    color: indigo;
    background-color: white;
    border-color: indigo;
}